@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Karantina:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* global.css or app.css */
/* .react-pdf_Page {
    margin: 0 !important; 
    padding: 0 !important; 
    width: 100% !important; 
    
} */
<<<<<<< HEAD

=======
>>>>>>> parent of 5ea9402 (update)
.visible {
    /* display: flex; */
    top: 0;
    transition: top 0.4s ease-out;
    color: green;
  }
  
  .hidden {
    /* display: none; */
    top: -80px;
    transition: top 0.4s ease-out;
  }
  /* src/global.css */
 .no-scroll {
  overflow: hidden;
  height: 100%;
 }