@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Karantina:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* global.css or app.css */
.visible {
    /* display: flex; */
    top: 0;
    transition: top 0.4s ease-out;
    color: green;
  }
  
  .hidden {
    top: -80px;
    transition: top 0.4s ease-out;
  }
 .no-scroll {
  overflow: hidden;
  height: 100%;
 }