@tailwind base;
@tailwind components;
@tailwind utilities;
/* global.css or app.css */
/* .react-pdf_Page {
    margin: 0 !important; 
    padding: 0 !important; 
    width: 100% !important; 
    
} */
